@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');


body {
  background-color: black;/*define toda a cor de fundo do body como preta*/
}

h2 {
  font-size: 2rem; /*estabelece o tamanho da letra como 2 vezes o tamanho já estabelecido pelo navegador*/
  color: #33A8DB; /*estabelece a cor do texto contido em todos os h2 do doc html*/
  font-weight: bold; /*peso da fonte - negrito*/
  letter-spacing: 4px; /*espaço entre as letras*/
  text-transform: uppercase; /*transforma todas as letras em maiúsculas*/
  margin-bottom: 24px; /*estabelece uma margem de 24px no fundo*/
}

p {
  color: white; /*estabelece a cor do texto de todos os parágrafos do documentos html como branco*/
}

section {
  margin: 100px auto; /*estabelece todas as sections do documento html como tento margem de 100px em cima e embaixo e auto nas laterais. A contiguração auto mantém a section no meio da tela mesmo alterando o tammanho desta*/
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('assets/images/banner.png'); /*estabelece imagens sobrepostas. A primeira, a qual fica em cima, é um linear-gradient e a segunda uma imagem que fica por debaixo da primeira. Por conta das cores e da transparência do linear-gradiente, é possível ver a imagem por debaixo, trazendo um efeito estético à ela*/
  background-size: cover; /*estabelece qual tamanho de imagem será utilizado. No caso escolhido (cover), visa preencher todo o fundo da box na qual foi inserida, seja sendo cortada (caso seja muito grande), seja sendo esticada (caso seja muito pequena)*/
  background-repeat: no-repeat; /*desnecessário, pois a imagem é grande o bastante*/
  height: 600px; /*estabelece a altura do .banner*/
  padding-top: 60px; /*estabelece o espaço interno de cima como sendo de 60px*/
  border-bottom: 1px solid #33A8DB80; /*cria uma borda no fundo*/
}

.banner .banner-content { /*contém a imagem (logo), h1 e p*/
  color: white; /*estabelece a cor do texto como branco*/
  width: 600px;
  margin: auto; /*centraliza banner-content horizontalmente em banner*/
  text-align: center; /*alinha o texto centralmente*/
}

.banner h1 {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  color: transparent;
  background: -webkit-linear-gradient(#33A8DB, #1472B7);
  background-clip: text;
  -webkit-background-clip: text;
}

.banner p {
  font-size: 1.25rem;
  margin: 16px 0 24px;
}

.banner .logo {
  background-color: rgba(0, 0, 0, .2);
  height: 260px;
  width: 260px;
  margin: auto;
  border-radius: 50%;
  padding: 16px;
  margin-bottom: 16px;
}

.banner .logo img {
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.banner .banner-content button {
  color: #31A8DD;
  font-size: 1rem;
  font-weight: bold;
  padding: 16px 32px;
  text-transform: uppercase;
  letter-spacing: 4px;
  background-color: transparent;
  border-image: linear-gradient(#3BA1CD, #1572B7);
  border-image-slice: 10;
  border-radius: 30px;
}

#course-content {
  width: 800px;
  text-align: center;
}

#course-content .modules-list {
  margin: 24px 0;
}

#course-content .modules-list .module {
  color: white;
  width: 530px;
  margin: 0 auto 24px;
  border: 1px solid #33A8DB;
  background-color: #252525;
  padding: 16px;
  border-radius: 100px;
  box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7);
}

#course-content .modules-list .module span {
  color: #33A8DB;
}

#transform-world {
  height: 560px;
  background-size: cover;
  background-image: url("assets/images/woman-code.png");
  background-attachment: fixed;
  border-top: 1px solid #33A8DB80;
  border-bottom: 1px solid #33A8DB80;
  padding: 200px;
}

#transform-world p {
  font-weight: 900;
  font-size: 2.5rem;
  text-transform: lowercase;
  max-width: 250px;
  text-shadow: 3px 2px #33A8DB;
}

#professional-challenges {
  text-align: center;
  width: 800px;
}

#professional-challenges img {
  margin: 32px 0;
}

footer {
  padding: 60px 0;
  text-align: center;
  background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
  border-top: 1px solid #33A8DB80;
}

footer .dio-logo {
  width: 300px;
}

footer a {
  color: #33A8DB;
  font-weight: bold;
  text-decoration: none;
}
