@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');

*{
    font-family: raleway, sans-serif;
}

body {
  background-color: black;/*define toda a cor de fundo do body como preta*/
}

h2 {
  font-size: 2rem; /*estabelece o tamanho da letra como 2 vezes o tamanho já estabelecido pelo navegador*/
  color: #33A8DB; /*estabelece a cor do texto contido em todos os h2 do doc html*/
  font-weight: bold; /*peso da fonte - negrito*/
  letter-spacing: 4px; /*espaço entre as letras*/
  text-transform: uppercase; /*transforma todas as letras em maiúsculas*/
  margin-bottom: 24px; /*estabelece uma margem de 24px no fundo*/
}

p {
  color: white; /*estabelece a cor do texto de todos os parágrafos do documentos html como branco*/
}

section {
  margin: 100px auto; /*estabelece todas as sections do documento html como tento margem de 100px em cima e embaixo e auto nas laterais. A contiguração auto mantém a section no meio da tela mesmo alterando o tammanho desta*/
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('assets/images/banner.png'); /*estabelece imagens sobrepostas. A primeira, a qual fica em cima, é um linear-gradient e a segunda uma imagem que fica por debaixo da primeira. Por conta das cores e da transparência do linear-gradiente, é possível ver a imagem por debaixo, trazendo um efeito estético à ela*/
  background-size: cover; /*estabelece qual tamanho de imagem será utilizado. No caso escolhido (cover), visa preencher todo o fundo da box na qual foi inserida, seja sendo cortada (caso seja muito grande), seja sendo esticada (caso seja muito pequena)*/
  background-repeat: no-repeat; /*desnecessário, pois a imagem é grande o bastante*/
  height: 600px; /*estabelece a altura do .banner*/
  padding-top: 60px; /*estabelece o espaço interno de cima como sendo de 60px*/
  border-bottom: 1px solid #33A8DB80; /*cria uma borda no fundo*/
}

.banner .banner-content { /*contém a imagem (logo), h1 e p*/
  color: white; /*estabelece a cor do texto como branco*/
  width: 600px;
  margin: auto; /*centraliza banner-content horizontalmente em banner*/
  text-align: center; /*alinha o texto centralmente*/
}

.banner h1 {
  font-size: 2.5rem; /*estabelece o tamanho da fonte como sendi 2,5x o tamanho estabelecido pelo navegador utilizado*/
  font-weight: 900; /*peso da fonte*/
  text-transform: uppercase; /*coloca as letras para maiúscula*/
  color: transparent; /*estabelece como transparente a cor das letras*/
  background: linear-gradient(#33A8DB, #1472B7);  /*estabele um degradê como imagem de fundo que aparecerá apenas onde tem texto com os comandos abaixo*/
  background-clip: text; /*necessário para garantir a compatibilidade abaixo*/
  -webkit-background-clip: text; /*estabelece que o background (sua cor) só aparece onde tem texto. O prefixo -webkit- é para garantir a compatibilidade com navegadores baseados em webkit (chrome e safari)*/
}

.banner p {
  font-size: 1.25rem; /*estabelece tamanho da fonte com 1.25x o tamanho pré estabelecido pelo navegador*/
  margin: 16px 0 24px; /*estabelece a margem superior com 16px, as laterais com 0px e a debaixo com 24px*/
}

.banner .logo {
  background-color: rgba(0, 0, 0, .2); /*cor de fundo preta com leve transparência*/
  height: 260px; /*altura do container onde está a imagem logo*/
  width: 260px; /*largura do container onde está a imagem logo, formando um quadrado*/
  margin: auto; /*.logo se orienta centralmente no eixo horizontal em relação ao seu container*/
  border-radius: 50%; /*estabelece a borda em formato de círculo*/
  padding: 16px; /*espaço interno com 16px nos quatro lados*/
  margin-bottom: 16px; /*margem inferior com 16px*/
}

.banner .logo img {
  margin: auto; /*orienta a imagem no centro do container (.logo) horizontalmente*/
  width: 100%; /*a largura da imagem é do tamanho da largura do container*/
  height: 100%; /*a altura da imagem é do tamanho da largura do container*/
  object-fit: contain; /*estabelece o comportamento da imagem: ela deverá se esticar para caber, ou reduzida/cortada para caber? No caso de contain, a imagem será encaixada no container mantendo ao máximo suas proporções*/
}

.banner .banner-content button {
  color: #31A8DD; /*cor das letras do texto do botão*/
  font-size: 1rem; /*estbelece que o tamanho de sua fonte será o mesmo que o estabelecido previamente no navegador utilizado*/
  font-weight: bold; /*peso da fonte*/
  padding: 16px 32px; /* espaço interno em cima e embaixo com 16px e 32px na lateral*/
  text-transform: uppercase; /*transforma as letras para maiúsculas*/ 
  letter-spacing: 4px; /*espaço entrea as letras do texto do botão de 4px*/
  background-color: transparent; /*cor de fundo transparente (aparece a imagem que estar por trás)*/
  border-image: linear-gradient(#3BA1CD, #1572B7); /*coloca degradê na borda*/
  border-image-slice: 10; /*espalha a imagem criada na borda para o resto dela. O valor indica o quanto se espalha*/ 
}

.banner .banner-content button:hover{
    cursor: pointer; /*cursor em forma de apontador quando passar por cima do botão*/
}

#course-content { /*contém o conteúdo programático do curso*/
  width: 800px; /*estabelece largura de 800px*/
  text-align: center; /*centraliza o texto*/
}

#course-content .modules-list { /*contém os módulos*/
  margin: 24px 0px; /*estabelece margem superior e inferior com 24px e 0px nas laterias*/
}

#course-content .modules-list .module { /*edita os espaços onde estão especificados os módulos*/
  color: white; /*cor branca para o texto nos .module*/
  width: 530px; /*largura de cada .module*/
  margin: 0 auto 24px; /*a margem auto nas laterais orientam .module centralmente no eixo horizontal em relação ao seu conteiner (module-list)*/
  border: 1px solid #33A8DB; /*tamanho, tipo e cor da borda*/
  background-color: #252525; /*cor de fundo dos .module*/
  padding: 16px; /*espaço interno dos .modules*/
  border-radius: 100px; /*arredondamento das bordas dos .module*/
  box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7); /*sombra interna adicionada (inset)*/
}

#course-content .modules-list .module span { /*delimitam uma parte específica do tempo, permitindo sua edição sem alterar o que está fora*/
  color: #33A8DB; /*estabelece a cor da fonte desses trechos*/
}

#transform-world { /*seção de texto inserido junto com imagem*/
    height: 560px; /*estabelece a largura desse seção*/
    background-image: url("assets/images/woman-code.png"); /*acrescenta uma imagem de fundo nessa seção*/
    background-size: cover; /*estabelece o tamanho da imagem de fundo. O cover assegura que a imagem ocupará todo o espaço de fundo, seja cortando, seja esticando a imagem*/
    background-attachment: fixed; /*estabelece o comportamento da imagem diantda rolagem. No caso ela ficará fixa no mesmo lugar, independente da rolagem*/
    border-top: 1px  solid #33A8DB80; /*cria uma borda na parte de cima*/
    border-bottom: 1px solid #33A8DB80; /*cria uma borda na parte debaixo*/
    padding: 200px; /*espaço interno de 200px. Isso estreita o espaço interno diante da tela, deixiando bem ao centro*/
}

#transform-world p { /*aborda apenas o parágrafo inserido nessa seção*/
  font-weight: 900; /*estabelece o peso da fonte*/
  font-size: 2.5rem; /*estabelece o tamanho de sua fonte*/
  text-transform: lowercase; /*estabelece todas as letras como minúsculas*/
  max-width: 250px; /*largura máxima que ocupará*/
  text-shadow: 3px 2px #33A8DB; /*acrescenta sombra ao texto*/
}

#professional-challenges { /*contém h2, img e p*/
  text-align: center; /*centraliza seu texto*/
  width: 800px; /*estabelece a largura*/
}

#professional-challenges img {
  margin: 32px 0; /*acrescenta margem superior e inferior de 32px e 0px nas laterais*/
}

#professional-challenges p{
    text-align: center;
}

footer { /*contém img, p e uma âncora*/
  padding: 60px 0; /*estabelece espaço interno em cima e embaixo de 60px e de 0px nas laterais*/
  text-align: center; /*alinha o texto centralmente*/
  background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2)); /*estabelece um degradê como imagem de fundo*/
  border-top: 1px solid #33A8DB80; /*estabelece uma borda na parte de cima e sua cor*/
}

footer .dio-logo {
  width: 300px; /*estabelece a largura da imagem em 300px*/
}

footer a {
  color: #33A8DB; /*estbele e a cor do texto abrangido pela âncora*/
  font-weight: bold; /*estabelece o peso de sua fonte*/
  text-decoration: none; /*remove o sublinhado padrão das âncoras*/
}
